#customize-controls .control-section-photo-fusion .accordion-section-title:hover,
#customize-controls .control-section-photo-fusion .accordion-section-title:focus {
	background-color: #3c3c3c;
	color: #fff;
}

.control-section-photo-fusion .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #f23f30;
	border-color: #f23f30;
	color: #fff;
}

.rtl .control-section-photo-fusion .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-photo_fusion h3.accordion-section-title {
    background-color: #3c3c3c;
    color: #fff;
}
